.nav-link {
    color: grey;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: transform 0.2s, color 0.2s;
  }
  
  .nav-link:hover:not(.active) {
    transform: translateY(-3px);
    color: rgb(255, 102, 196);
  }
  
  .nav-link.active {
    border-bottom: 3px solid rgb(255, 102, 196);
    padding-bottom: 5px;
    color: grey;
  }
  
  .nav-button {
    background: none;
    border: none;
    color: grey;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
  }
  
  .nav-button:hover {
    transform: translateY(-3px);
    color: rgb(255, 102, 196);
  }
  