.background-container {
  background-image: url('./assets/websitebackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.content-container {
  background-color: #fff;
  margin: 5vh auto 24px auto;
  padding: 1rem;
  border-radius: 8px;
  width: 90%;
  max-width: 1200px;
  min-height: calc(100vh - 5vh - 24px);
  position: relative;
  z-index: 2;
}

@media (min-width: 768px) {
  .content-container {
    margin: 10vh auto 24px auto;
    width: 90%;
    min-height: calc(100vh - 10vh - 24px);
  }
}

@media (min-width: 1200px) {
  .content-container {
    width: 80%;
  }
}
